.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.border-box {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

.form-button {
  background-color: #33cd5f;
  color: white;
  font-size: 16px;
  border: 0;
}

.nodata-container {
  height: 600rpx;
}

.bottom-button-container {
  padding: 40rpx;
}

.bottom-fixed-container {
  position: fixed;
  z-index: 100;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #282a34;
}
