
.B0 {
  background-color: #ff0000;
}

.B1 {
  background-color: #ffffff;
}

.B2 {
  background-color: #f8f8f8;
}

.B3 {
  background-color: #fbfbfb;
}

.B4 {
  background-color: #a0a0a0;
}

.B5 {
  background-color: #fff8f8;
}

.B6 {
  background-color: #eb333b;
}

.B7 {
  background-color: #17b03e;
}

.C1 {
  color: #000000;
}

.C2 {
  color: #333333;
}

.C3 {
  color: #666666;
}

.C4 {
  color: #a0a0a0;
}

.C5 {
  color: #ffffff;
}

.C6 {
  color: #eb333b;
}

.C7 {
  color: #17b03e;
}

.C8 {
  color: #eb333b;
}

.L0 {
  background-color: #f5f5f5;
}

.L1 {
  background-color: #e5e5e5;
}

.L2 {
  background-color: #dadada;
}