.F0 {
  font-size: 80rpx;
}

.F1 {
  font-size: 40rpx;
}

.F2 {
  font-size: 36rpx;
}

.F3 {
  font-size: 32rpx;
}

.F4 {
  font-size: 28rpx;
}

.F5 {
  font-size: 26rpx;
}

.F6 {
  font-size: 22rpx;
}

.F7 {
  font-size: 20rpx;
}
